<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AES_KEY_LENGTH" value="256" />
    <add key="KEY_DERIVATION_ITERATIONS_NUMBER" value="100" />
    <add key="db_connection" value="mongodb://172.17.0.3:27017" />
    <add key="db_name" value="production" />
    <add key="assistant_file" value="AssistantData/patterns.json" />
    <add key="server_ip" value="172.17.0.2" />
  </appSettings>
</configuration>